@page "{id?}"
@model AddEditRecipeModel
@{
    ViewData["Title"] = Model.IsNewRecipe ? "New Recipe" : "Edit Recipe";
}

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Recipe.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Recipe.Name" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Recipe.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea rows="3" asp-for="Recipe.Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Recipe.Ingredients" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea rows="5" asp-for="Recipe.Ingredients" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Recipe.Directions" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea rows="5" asp-for="Recipe.Directions" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn btn-primary">Save</button>
        </div>
    </div>
</form>